@keyframes slideUp {
  0% {
    bottom: -500px;
  }
  100% {
    opacity: 0px;
  }
}


.sticky-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 10000;
  transition: 2s ease-in-out;
  animation: slideUp 2s ease-in-out;

  @media (min-width: 800px) {
    display: none;
  }

  .ads-container, .ads-by-google  {
    background-color: #395b64 !important;
  }

  .close-ad-btn {
    border: 0;
    position: absolute;
    right: 5px;
    top: -25px;
    height: 25px;
    width: 35px;
    background-color: #395b64;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    color: white;
    &:hover {
      color: red;
    }
  }

  &.hide-animation {
    bottom: -500px;
    .close-ad-btn {
      display: none;
    }
  }

  .ads-container {
    margin: 0;
    padding: 0;
  }
}
