.profile-page-artifact {
  width: var(--artifact-width);
  border: 1px solid transparent;
  margin: 10px;
  background-color: gray;
  background-image: var(--artifact-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  position: relative;
  aspect-ratio: 0.895;
  font-family: "GenshinFont";
  // overflow: hidden;
  // text-shadow: 0 0 1px rgba(0,0,0,0.3);
  // -webkit-font-smoothing: antialiased;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }

  // transition: 0.2s;
  // &:hover {
  // filter: saturate(1);
  // opacity: 1;
  // }

  .artifact-equipped-char {
    position: absolute;
    bottom: calc(var(--artifact-width) / 0.86);
    right: 0;
    z-index: -1;
    width: var(--artifact-width);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;

    img {
      flex-grow: 0;
      flex-shrink: 0;
      background-color: black;
      // border: 2px solid black;
      width: 35px;
      height: 35px;
      border-radius: 35px;
      margin-left: -10px;
      // box-shadow: 0 0 0 1px black, 0 0 10px 2px black;
    }
  }

  .artifact-name {
    color: white;
    margin-left: calc(var(--artifact-width) / 14.3);
    margin-top: calc(var(--artifact-width) / 66.667);
    font-size: calc(var(--artifact-width) / 14.3);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: calc(var(--artifact-width) / 100);
  }
  .artifact-crit-value {
    color: #b5a6a0;
    position: absolute;
    top: calc(var(--artifact-width) / 6.66);
    margin-left: calc(var(--artifact-width) / 14.3);
    font-size: calc(var(--artifact-width) / 20);
  }
  .artifact-stat-name {
    color: #b5a6a0;
    margin-left: calc(var(--artifact-width) / 14.3);
    margin-top: calc(var(--artifact-width) / 5.5);
    font-size: calc(var(--artifact-width) / 20);
  }
  .artifact-stat-value {
    color: white;
    margin-left: calc(var(--artifact-width) / 14.3);
    font-size: calc(var(--artifact-width) / 9.09);
  }
  .artifact-rarity {
    margin-left: calc(var(--artifact-width) / 14.3);
    // font-size: calc($width / 20);
    img {
      width: calc(var(--artifact-width) / 17);
      margin-right: 3px;
    }
  }
  .artifact-level {
    color: white;
    position: absolute;
    top: calc(var(--artifact-width) / 1.59);
    margin-left: calc(var(--artifact-width) / 14.3);
    font-size: calc(var(--artifact-width) / 22.22);
  }
  .substats {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: absolute;
    margin-left: calc(var(--artifact-width) / 18.2);
    font-size: calc(var(--artifact-width) / 19);
    top: calc(var(--artifact-width) / 1.39);
    opacity: 0.8;
    white-space: nowrap;
    > .substat {
      width: calc(var(--artifact-width) / 1.11);
      display: flex;
      &::before {
        content: "·";
        margin-right: calc(var(--artifact-width) / 200);
      }
    }
  }
  .rv-display {
    margin-left: auto;
    text-align: end;
    font-size: calc(var(--artifact-width) / 23);
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    padding: 2px 4px 1px;
    border-radius: 50px;
    color: white;
  }
}

.artifact-icon {
  position: absolute;
  top: calc(var(--artifact-width) / 8);
  right: calc(var(--artifact-width) / 20);
  width: calc(var(--artifact-width) / 2.353);
}
.artifact-set-name {
  color: #5cb256;
  position: absolute;
  font-size: calc(var(--artifact-width) / 19);
  margin-left: calc(var(--artifact-width) / 14.3);
  bottom: calc(var(--artifact-width) / 70);
}

@keyframes cyanGlow {
  100%,
  0% {
    box-shadow: 0 0 0 1px cyan, 0 0 8px 3px cyan;
    // filter: contrast(1.2);
    // transform: scale(1.045);
  }
  50% {
    box-shadow: 0 0 0 1px cyan, 0 0 8px 3px rgba(0, 255, 255, 0.247);
    // filter: contrast(1);
    // transform: scale(1);
  }
}

.unicorn-artifact {
  // box-shadow: 0 0 0 1px cyan, 0 0 10px 1px cyan;
  animation: cyanGlow 2s infinite;
  .compact-artifact-crit-value {
    color: cyan;
  }
}

.upper-diamond-artifact {
  box-shadow: 0 0 0 1px rgb(255, 217, 0), 0 0 8px 3px rgba(255, 217, 0, 0.623);
  .compact-artifact-crit-value {
    color: rgb(255, 217, 0);
  }
}

.diamond-artifact {
  box-shadow: 0 0 0 1px orange, 0 0 4px 2px rgba(orange, 0.623);
  .compact-artifact-crit-value {
    color: orange;
  }
}

.good-artifact {
  box-shadow: 0 0 0 1px rgb(194, 102, 255);
  .compact-artifact-crit-value {
    color: rgb(194, 102, 255);
  }
}

.ok-artifact {
  box-shadow: 0 0 0 1px rgb(102, 163, 255);
  .compact-artifact-crit-value {
    color: rgb(102, 163, 255);
  }
}

.poo-artifact {
  box-shadow: 0 0 0 1px gray;
  .compact-artifact-crit-value {
    color: gray;
  }
}
