.profile-page-artifact {
  width: var(--artifact-width);
  border: 1px solid transparent;
  margin: 10px;
  background-color: gray;
  background-image: var(--artifact-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  position: relative;
  aspect-ratio: 0.895;
  font-family: "GenshinFont";
  // overflow: hidden;
  // text-shadow: 0 0 1px rgba(0,0,0,0.3);
  // -webkit-font-smoothing: antialiased;
  transition: transform 0.2s;

  // &:hover {
  //   transform: scale(1.05);
  // }

  // transition: 0.2s;
  // &:hover {
  // filter: saturate(1);
  // opacity: 1;
  // }

  .artifact-equipped-char {
    position: absolute;
    bottom: calc(var(--artifact-width) / 0.86);
    right: 0;
    z-index: -1;
    width: var(--artifact-width);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;

    img {
      flex-grow: 0;
      flex-shrink: 0;
      background-color: black;
      // border: 2px solid black;
      width: 35px;
      height: 35px;
      border-radius: 35px;
      margin-left: -10px;
      // box-shadow: 0 0 0 1px black, 0 0 10px 2px black;
    }
  }

  .artifact-name {
    color: white;
    margin-left: calc(var(--artifact-width) / 14.3);
    margin-top: calc(var(--artifact-width) / 66.667);
    font-size: calc(var(--artifact-width) / 14.3);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: calc(var(--artifact-width) / 100);
  }
  .artifact-crit-value {
    color: #b5a6a0;
    position: absolute;
    top: calc(var(--artifact-width) / 6.66);
    margin-left: calc(var(--artifact-width) / 14.3);
    font-size: calc(var(--artifact-width) / 20);
  }
  .artifact-stat-name {
    color: #b5a6a0;
    margin-left: calc(var(--artifact-width) / 14.3);
    margin-top: calc(var(--artifact-width) / 5.5);
    font-size: calc(var(--artifact-width) / 20);
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(var(--artifact-width) / 1.85);
    white-space: nowrap;
  }
  .artifact-stat-value {
    color: white;
    margin-left: calc(var(--artifact-width) / 14.3);
    font-size: calc(var(--artifact-width) / 9.09);
  }
  .artifact-rarity {
    margin-left: calc(var(--artifact-width) / 14.3);
    // font-size: calc($width / 20);
    img {
      width: calc(var(--artifact-width) / 17);
      margin-right: 3px;
    }
  }
  .artifact-level {
    color: white;
    position: absolute;
    top: calc(var(--artifact-width) / 1.59);
    margin-left: calc(var(--artifact-width) / 14.3);
    font-size: calc(var(--artifact-width) / 22.22);
  }
  .substats {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: absolute;
    margin-left: calc(var(--artifact-width) / 18.2);
    font-size: calc(var(--artifact-width) / 19);
    top: calc(var(--artifact-width) / 1.39);
    opacity: 0.8;
    white-space: nowrap;
    > .substat {
      width: calc(var(--artifact-width) / 1.11);
      display: flex;
      > .substat-name {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      > .substat-value {
        margin-right: 5px;
      }
      &::before {
        content: "·";
        margin-right: calc(var(--artifact-width) / 200);
      }
    }
  }
  .rv-display {
    margin-left: auto;
    text-align: end;
    font-size: calc(var(--artifact-width) / 23);
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    padding: 2px 4px 1px;
    border-radius: 50px;
    color: white;
  }
}

.artifact-icon {
  position: absolute;
  top: calc(var(--artifact-width) / 8);
  right: calc(var(--artifact-width) / 20);
  width: calc(var(--artifact-width) / 2.353);
}
.artifact-set-name {
  color: #5cb256;
  position: absolute;
  font-size: calc(var(--artifact-width) / 19);
  margin-left: calc(var(--artifact-width) / 14.3);
  bottom: calc(var(--artifact-width) / 70);
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(100% - var(--artifact-width) / 9.5);
  white-space: nowrap;
}

// @keyframes cyanGlow {
//   100%,
//   0% {
//     box-shadow: 0 0 0 1px cyan, 0 0 8px 3px cyan;
//     // filter: contrast(1.2);
//     // transform: scale(1.045);
//   }
//   50% {
//     box-shadow: 0 0 0 1px cyan, 0 0 8px 3px rgba(0, 255, 255, 0.247);
//     // filter: contrast(1);
//     // transform: scale(1);
//   }
// }

.unicorn-artifact {
  // box-shadow: 0 0 0 1px cyan, 0 0 0px 3px rgba(cyan, 0.5),
  //   0 0 0px 5px rgba(cyan, 0.25);
  // animation: cyanGlow 2s infinite;

  position: relative;
  border: 1px solid cyan;

  &::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid rgba(cyan, 0.5);
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
    height: 100%;
    border: 5px solid rgba(cyan, 0.25);
    z-index: 1;
  }

  .compact-artifact-crit-value {
    color: cyan;
  }
}

// @keyframes bloodGlow {
//   100%,
//   0% {
//     box-shadow: 0 0 0 1px red, 0 0 8px 3px red;
//   }
//   50% {
//     box-shadow: 0 0 0 1px red, 0 0 8px 3px rgba(red, 0.247);
//   }
// }

.wtf-artifact {
  // animation: bloodGlow 2s infinite;
  // box-shadow: 0 0 0 1px red, 0 0 0px 3px rgba(red, 0.5),
  //   0 0 0px 5px rgba(red, 0.25);

  position: relative;
  border: 1px solid red;

  &::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid rgba(red, 0.5);
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
    height: 100%;
    border: 5px solid rgba(red, 0.25);
    z-index: 1;
  }

  .compact-artifact-crit-value {
    color: red;
  }
}

.upper-diamond-artifact {
  // box-shadow: 0 0 0 1px rgb(255, 217, 0), 0 0 8px 3px rgba(255, 217, 0, 0.623);
  // box-shadow: 0 0 0 1px rgba(255, 217, 0, 1), 0 0 0px 3px rgba(255, 217, 0, 0.5),
  //   0 0 0px 5px rgba(255, 217, 0, 0.25);

  position: relative;
  border: 1px solid rgba(255, 217, 0, 1);

  &::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid rgba(255, 217, 0, 0.5);
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
    height: 100%;
    border: 5px solid rgba(255, 217, 0, 0.25);
    z-index: 1;
  }

  .compact-artifact-crit-value {
    color: rgb(255, 217, 0);
  }
}

.diamond-artifact {
  // box-shadow: 0 0 0 1px orange, 0 0 4px 2px rgba(orange, 0.623);
  // box-shadow: 0 0 0 1px rgba(orange, 1), 0 0 0px 3px rgba(orange, 0.5),
  //   0 0 0px 5px rgba(orange, 0.25);

  position: relative;
  border: 1px solid rgba(orange, 1);

  &::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid rgba(orange, 0.5);
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
    height: 100%;
    border: 5px solid rgba(orange, 0.25);
    z-index: 1;
  }

  .compact-artifact-crit-value {
    color: orange;
  }
}

.good-artifact {
  // box-shadow: 0 0 0 1px rgb(194, 102, 255);
  // box-shadow: 0 0 0 1px rgba(194, 102, 255, 1),
  //   0 0 0px 3px rgba(194, 102, 255, 0.5);

  position: relative;
  border: 1px solid rgba(194, 102, 255, 1);

  &::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid rgba(194, 102, 255, 0.5);
    z-index: 1;
  }

  .compact-artifact-crit-value {
    color: rgb(194, 102, 255);
  }
}

.ok-artifact {
  // box-shadow: 0 0 0 1px rgb(102, 163, 255);
  // box-shadow: 0 0 0 1px rgba(102, 163, 255, 1),
  //   0 0 0px 3px rgba(102, 163, 255, 0.5);

  position: relative;
  border: 1px solid rgba(102, 163, 255, 1);

  &::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid rgba(102, 163, 255, 0.5);
    z-index: 1;
  }

  .compact-artifact-crit-value {
    color: rgb(102, 163, 255);
  }
}

.poo-artifact {
  // box-shadow: 0 0 0 1px gray;
  border: 1px solid gray;
  .compact-artifact-crit-value {
    color: gray;
  }
}
