.artifact-details-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: 900px) {
    justify-content: flex-start !important;
    margin-left: 100px;
  }
  @media (max-width: 850px) {
    margin-left: 40px;
  }
  @media (max-width: 750px) {
    margin-left: 10px;
  }
}

.artifact-details {
  margin: 10px 0;

  > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .artifact-equipped-char {
    position: relative;
    z-index: 1;
    margin-bottom: 2px;
    max-width: 280px;
    width: 100%;
    // justify-content: center;

    img {
      width: 25px;
      height: 25px;
    }
  }

  .arrow-right {
    margin: 0 10px;
    position: relative;
    top: -35px;

    @media (max-width: 1000px) {
      margin: 0 8px;
      svg {
        width: 20px;
      }
    }
  }

  .display-rolls {
    margin-top: 10px;

    .roll-value {
      display: none;
    }
    &:hover,
    &:focus,
    &:focus-within {
      .exact-substat {
        display: none;
      }
      .roll-value {
        display: block;
      }
    }
  }

  .profile-page-artifact {
    &::after,
    &::before {
      pointer-events: none !important;
    }
  }

  &:not(.is-consumed) {
    .profile-page-artifact {
      --artifact-width: max(min(250px, 24vw), 210px) !important;
    }
  }

  &.is-consumed {
    > div {
      position: relative;

      .consume-icon {
        position: absolute;
        // top: 50%;
        // left: calc(50% - 60px);
        // bottom: 0;
        opacity: 0.15;
        color: red;
        pointer-events: none;
        // background-color: magenta;
      }

      .profile-page-artifact {
        opacity: 0.5;
        pointer-events: all !important;

        --artifact-width: max(min(210px, 20vw), 170px) !important;
      }
    }
  }

  &.selected-artifact {
    .profile-page-artifact {
      box-shadow: 0 0 0 6px #202525, 0 0 0 8px cyan !important;
    }
  }
}
