.faq-page-content-wrapper {
  > .vm-container.shrink-ad {
    // video ad
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
  }

  .faq-page {
    margin-left: 20px;
    margin-right: 20px;

    @media (max-width: 800px) {
      margin-left: 0px;
      margin-right: 0px;
    }

    .faq-main-header {
      margin-bottom: 75px;
      text-align: center;
      h1 {
        // display: inline;
        &:first-child {
          margin-right: 20px;
          margin-bottom: 0;
        }
        &:not(:first-child) {
          margin-top: 0;
          margin-bottom: 10px;
        }
      }
      p {
        margin-top: 0;
      }
      .the-faq {
        font-size: 90px;
        margin: 10px 0;
      }
    }

    .faq-split {
      display: flex;
      gap: 30px;
      justify-content: space-between;
      flex-wrap: wrap;
      justify-content: center;

      > div {
        flex-grow: 1;
        width: calc(100% - 620px);
        min-width: min(100%, 370px);

        > p:first-child {
          margin-top: 0;
        }
      }

      > img {
        flex-shrink: 0;
        object-fit: contain;
        width: min(440px, 100% - 15px);
        border-radius: 5px;
        overflow: hidden;
        height: fit-content;
      }
    }

    img.expandable-img {
      transition: transform 0.15s;
      // &:hover {
      //   transform: translate(-25%, 25%) scale(1.5);
      //   @media (max-width: 800px) {
      //     transform: translateY(20%) scale(1.5);
      //   }
      // }
    }

    .faq-browser {
      a {
        outline: none;
        text-decoration: none;
        h2 {
          color: rgb(231, 246, 242);
        }
      }
      .faq-grid {
        // display: grid;
        // overflow: hidden;
        // grid-template-rows: 0fr;
        // transition: 0.3s;
        // > * {
        //   overflow: hidden !important;
        // }
      }

      i > a {
        color: rgb(255, 216, 144);
        &:hover {
          text-decoration: underline;
        }
      }

      > div:not(.faq-input) {
        position: relative;
        padding-bottom: 20px;

        // &:focus {
        //   .faq-grid {
        //     // grid-template-rows: 1fr;
        //     // padding-bottom: 20px;
        //   }
        // }
        &:not(:last-child)::after {
          content: "";
          position: absolute;
          border-top: 1px dashed rgba(231, 246, 242, 0.25);
          bottom: -3px;
          left: 5%;
          width: 90%;
        }
      }

      h2 {
        // cursor: pointer;
        // &:hover {
        //   text-decoration: underline;
        // }
        > span:not(:first-child) {
          &::before {
            content: "•";
            margin: 0 15px;
            color: orange;
          }
        }
      }
      .faq-input {
        text-align: center;
        position: relative;
        > input {
          width: 70%;
          background-color: rgba(0, 0, 0, 0.4);
          margin-bottom: 10px;
          height: 32px;
          color: white;
          border: none;
          outline: none;
          padding: 2px 12px;
        }
        // > label {
        //   pointer-events: none;
        //   position: absolute;
        //   top: -30px;
        //   left: calc(15% - 8px);
        // }
      }
      .desc-formula {
        display: flex;
        align-items: center;
        gap: 5px;
        border-radius: 100px;
        padding: 5px 10px;
        margin: 5px;
        width: fit-content;
      }
      .faq-header-highlight-class {
        background-color: transparent;
        text-decoration: underline;
        color: orange;
      }
    }
  }
}
