@use "sass:map";

$substats: "flathp", "hp_", "flatatk", "atk_", "flatdef", "def_", "critrate",
  "critdmg", "critvalue", "elementalmastery", "energyrecharge";

@each $substat in $substats {
  .highlight-#{$substat} {
    .substat {
      opacity: 0.5;
    }
    .#{$substat} {
      opacity: 1;
    }
    td.#{$substat} {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

$characterStats: "hp", "atk", "def", "hydrodmgbonus", "geodmgbonus",
  "pyrodmgbonus", "cryodmgbonus", "electrodmgbonus", "anemodmgbonus",
  "dendrodmgbonus", "physicaldmgbonus", "healingbonus", "elementalmastery",
  "energyrecharge";

@each $stat in $characterStats {
  .highlight-#{$stat} {
    .character-stat {
      opacity: 0.5;
    }
    .#{$stat} {
      opacity: 1;
    }
    td.#{$stat} {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

@keyframes fadeInRow {
  0% {
    opacity: 0;
    max-height: 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  90% {
    opacity: 1;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  100% {
    max-height: 800px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1 !important;
  }
  99% {
    opacity: 0 !important;
    width: auto;
    height: auto;
  }
  100% {
    opacity: 0;
    display: none;
    width: 0;
    height: 0;
  }
}

@keyframes fadeOutNatural {
  0% {
    opacity: 1 !important;
  }
  99% {
    opacity: 0 !important;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.table-icon {
  width: 25px;
  height: 25px;
  // filter: drop-shadow(0px 0px 3px rgba(black, 0.5));
}

.default-pfp-icon {
  opacity: 0.33;
  padding: 2.5px;
  width: 20px;
  height: 20px;
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

.fade-out {
  animation: fadeOut 0.3s ease-in-out;
  animation-fill-mode: forwards;
  // overflow: hidden;
}

.fade-out-natural {
  animation: fadeOutNatural 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.custom-table-wrapper {
  // overflow: auto;
  &.disable-table {
    table.custom-table {
      overflow: unset;
      min-height: 64px;
      tbody {
        position: relative;
        overflow: hidden;
        td {
          filter: saturate(0.8);
        }
        .dark-overlay-table-only {
          min-height: 32px;
          position: absolute;
          background-color: rgba(0, 0, 0, 0.5);
          border-top: 1px solid rgba(81, 81, 81, 0.5);
          width: 100%;
          height: 100%;
          top: -1px;
          left: 0;
          z-index: 2;
          display: flex;
          justify-content: center;
          align-items: center;
          td {
            pointer-events: none;
          }
        }
      }
    }
  }

  .table-overflow-wrapper {
    overflow-x: auto;
  }

  table.custom-table {
    width: 100%;
    text-align: left;
    // border: 0;
    font-size: 13px;
    position: relative;
    background-color: rgba(black, 0.1);

    .expanded-row {
      width: 100%;
      margin-bottom: 20px;
      margin-top: 5px;
      gap: 15px;
      font-size: 16px;
      justify-content: center;
      animation: fadeInRow 0.6s ease-in-out;

      &.disable-anim:not(.toggle-config) {
        animation: none !important;
        .expanded-row:not(.toggle-config) {
          animation: none !important;
        }
      }

      // @at-root .ad-provider-playwire & {
      > .character-preview {
        bottom: -5px;
        position: relative;
        width: 990px;
      }
      > .artifacts-row {
        transform: scale(0.95);
      }
      > .total-roll-list-wrapper {
        top: -5px;
        position: relative;
        transform: scale(0.95);
      }
      // }
    }

    .categories-exanded-row {
      @media (max-width: 800px) {
        justify-content: flex-start;
      }
      > div {
        margin: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      a {
        text-decoration: none;
        color: white;
        &:hover {
          color: orange;
        }
      }
    }

    .clickable-icons {
      a {
        &:hover {
          color: orange !important;
          .table-icon {
            filter: drop-shadow(0 0 2px orange);
          }
          span {
            filter: drop-shadow(0 0 2px black);
          }
        }
      }
    }

    .sort-direction-icon {
      color: orange;
      margin-top: 1px;
      transform: rotate(0deg);
      transition: transform 0.3s;
      margin-left: auto;
      &.rotate-180deg {
        transform: rotate(180deg);
      }
    }
    .header-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 5px;
    }

    tbody {
      tr {
        &:not(.expanded-tr):not(.dark-overlay-table-only):hover {
          background-color: rgba(0, 0, 0, 0.333);
        }
        &:nth-child(2n) {
          background-color: rgba(0, 0, 0, 0.212);
        }
      }
    }

    tr:not(.expanded-tr) {
      height: 32px;
      th {
        font-weight: unset;
        // background-color: #202525;
        background-color: rgba(black, 0.3);
        white-space: nowrap;
        color: white;
        border-bottom: 1px solid rgba(81, 81, 81, 1);
        &.highlight-cell {
          // background-color: #1b1f1f;
          background-color: rgba(black, 0.5);
          border-color: rgba(81, 81, 81, 0.5);
          box-shadow: inset 0px 1px 0px 0px orange;
        }
        &.sortable-column {
          cursor: pointer;
          &:hover {
            color: orange;
            // background-color: #1b1f1f;
            background-color: rgba(black, 0.5);
          }
        }
      }
      th,
      td {
        // padding: 0 12px;
        // @at-root .ad-provider-playwire & {
        padding: 0 10px;
        // }
        min-width: 17px;
      }
      td {
        &.highlight-cell {
          background-color: rgba(0, 0, 0, 0.3);
          // font-weight: 600;
        }
      }
    }
  }
}

.table-icon-text-pair {
  display: flex;
  place-items: center;
  gap: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: fit-content;
  > span {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.row-link-element {
  cursor: pointer;
  color: white;
  text-decoration: none;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 5px 0px;

  display: flex;
  align-items: center;

  > * {
    flex-grow: 0;
  }

  .table-icon-text-pair {
    margin-right: 10px;
  }

  &:before {
    content: "";
  }
  &:hover {
    color: orange;
    .ar-badge {
      color: white;
    }
    .enka-badge,
    .ar-badge,
    .region-badge {
      border: 1px solid orange;
    }
  }

  &.new-lb-badge {
    &::before {
      content: "NEW";
      background-color: #40839b;
      margin-right: 5px;
      white-space: nowrap;
      padding: 2px 5px;
      border-radius: 5px;
      font-weight: 600;
      font-size: 11px;
      color: white;
    }
  }
}

.c-badge-wrapper {
  .c-badge {
    white-space: nowrap;
    // margin: 0 10px;
    padding: 2px 5px;
    border-radius: 5px;

    font-size: 11px;
    height: 17px;
    display: flex;
    align-items: center;

    font-weight: 600;
    text-shadow: 0 0.08em 0.1em black, 0 0.1em 0.3em rgba(0, 0, 0, 0.4);

    &.c-0-badge {
      background-color: rgb(128, 128, 128);
      width: 14px;
    }
    &.c-1-badge {
      background-color: rgb(64, 131, 155);
      width: 17px;
    }
    &.c-2-badge {
      background-color: rgb(64, 131, 155);
      width: 20px;
    }
    &.c-3-badge {
      background-color: rgb(64, 131, 155);
      width: 23px;
    }
    &.c-4-badge {
      background-color: rgb(64, 131, 155);
      width: 26px;
    }
    &.c-5-badge {
      background-color: rgb(64, 131, 155);
      width: 29px;
    }
    &.c-6-badge {
      background-color: rgb(168, 120, 31);
      width: 32px;
    }

    // &.c-0-badge {
    //   background-color: rgb(128, 128, 128);
    //   width: 18px;
    // }
    // &.c-1-badge {
    //   background-color: rgb(64, 131, 155);
    //   width: 25px;
    // }
    // &.c-2-badge {
    //   background-color: rgb(64, 131, 155);
    //   width: 35px;
    // }
    // &.c-3-badge {
    //   background-color: rgb(64, 131, 155);
    //   width: 45px;
    // }
    // &.c-4-badge {
    //   background-color: rgb(64, 131, 155);
    //   width: 55px;
    // }
    // &.c-5-badge {
    //   background-color: rgb(64, 131, 155);
    //   width: 65px;
    // }
    // &.c-6-badge {
    //   background-color: rgb(168, 120, 31);
    //   width: 75px;
    // }
  }
}

.sortable-column {
  &:hover {
    .sort-fields-picker-wrapper {
      display: block;
    }
  }
}

.sortable-column:last-child {
  .sort-fields-picker-wrapper {
    right: -1px;
    left: auto;
  }
}

.sort-fields-picker-wrapper {
  position: absolute;
  // right: -1px;
  left: -1px;
  top: 31px;
  display: none;
  background-color: #141717;
  z-index: 4;
  color: white;
  min-width: 180px;
  box-shadow: inset 1px 0px 0px 0px #515151, inset -1px 0px 0px 0px #515151,
    inset 0px -1px 0px 0px #515151;
  overflow: hidden;
  transform: translateY(-50%) scaleY(1) translateY(50%);
  > div {
    padding: 5px 12px;
    &:first-child {
      padding-top: 7px;
    }
    &:last-child {
      padding-bottom: 7px;
    }
    &:hover {
      color: orange;
      img {
        filter: drop-shadow(0px 0px 2px orange);
      }
    }
    &.highlight-cell {
      background-color: rgba(0, 0, 0, 0.4);
      border-right: 1px solid rgb(81, 81, 81);
      box-shadow: inset 1px 0px 0px 0px orange;
    }
  }
}

.stat-icon-wrapper {
  margin-right: 3px;
}
