.stat-list-side {
  position: absolute;
  top: 10px;
  right: -80px;
  width: 55px;
  background-color: rgba(#395b64, 0.45);
  border-radius: 5px;
  padding: 5px;

  .adventure-rank-wrapper {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    > span {
      margin: 0 auto;
    }
  }

  .talent-list-container {
    margin-top: 10px;
    text-align: center;

    .talent-display {
      position: relative;
      margin-bottom: 10px;
      font-weight: 600;
      .talent-display-value {
        position: absolute;
        bottom: -5px;
        width: 100%;
        background-color: rgba(black, 0.5);
        width: 25px;
        border-radius: 30px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
        &.talent-boosted {
          border: 1px solid #a8781f;
        }
      }
      .talent-icon-placeholder {
        height: 34px;
      }
      img {
        width: 30px;
        height: 30px;
        border-radius: 30px;
      }
    }
  }
}