.refresh-timer {
  text-transform: uppercase;
  opacity: 0.5;
  font-family: "GenshinFont";
  font-size: 15px;
  width: 13ch;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  &.no-label {
    width: 3ch;
  }
}