body.ads-disabled {
  #nn_skinl,
  #nn_skinr,
  #nn_player,
  .snigel-container,
  .snigel-ad-unit,
  .snigel-adhesive {
    display: none !important;
    opacity: 0 !important;
    pointer-events: none !important;
  }
}

body.ad-provider-snigel {
  // only the flex-special-container on top of the page
  .navbar-tabs ~ .flex-special-container {
    transition: 0.25s;
    transition-delay: 0.5s;
    align-items: center;
  }

  &:not(.ads-disabled) {
    .navbar-tabs ~ .flex-special-container {
      margin-top: 25px !important;
    }
    @media (max-width: 800px) {
      #root > .flex-special-container {
        min-height: 130px;
      }
    }
  }

  #nn_skinl {
    left: auto;
    margin-left: auto;

    right: 50%;
    margin-right: 650px;
  }

  .flex-special-container {
    gap: 10px;
  }

  .snigel-adhesive {
    width: fit-content;
    translate: calc(50vw - 50%);
    padding-bottom: 0;

    .close-adhesive {
      border-radius: 100px;
      top: -25px;
    }
  }

  .snigel-container {
    .ad-debug {
      display: none !important;
    }

    .snigel-ad-unit {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.video-ad-container {
      display: contents;

      div[id^="google_ads_iframe_"],
      .snigel-ad-unit {
        display: contents;
      }
    }
  }

  .profile-header-wrapper {
    gap: 10px;
    row-gap: 25px;
  }

  .snigel-adhesive.bottom {
    pointer-events: none;
    > div {
      pointer-events: auto;
      // width: fit-content;
    }
  }
}

div[id^="sp_message_container"] {
  z-index: 9999;
}

// iframe[id^=sp_message_iframe] {
//   z-index: 9999;
// }
