.last-profile-update {
  text-transform: uppercase;
  opacity: 0.5;
  font-family: "GenshinFont";
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  margin-right: 5px;
  align-items: center;
  height: 21px;
  gap: 5px;
  .value {
    font-size: 15px;
  }
}
