.theater-cell,
.theater-cell > span {
  display: flex;
  align-items: center;
  gap: 3px;
  flex-wrap: nowrap;
  white-space: nowrap;
  color: var(--color);
}

.theater-badge {
  font-family: "GenshinFont";
  display: inline-block;
  white-space: nowrap;
  padding: 1px 4px;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0 0 3px rgba(black, 0.5);
  display: flex;
  justify-content: center;
  gap: 3px;

  // background-color: rgb(168, 120, 31);
  // border-color: rgb(168, 120, 31);
  background-color: var(--color);
  border-color: var(--color);

  &:first-child {
    width: 33%;
  }
  &:last-child {
    width: 67%;
  }

  &, & > span {
    color: white !important;
    text-shadow: none;
  }

  // img {
  //   // filter: drop-shadow(0 0 2px rgba(black, 0.7));
  // }
}
