
@keyframes slideIn {
  0% {
    opacity: 0;
    left: 200px;
  }
  40% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar-tabs {
  background-color: transparent;
  color: #e7f6f2;
  display: flex;
  padding: 0 25px;
  flex-wrap: wrap;
  // min-height: 32px;
  // min-height: 0;
  // max-height: 0;
  // margin-bottom: 35px; // 25 + 10
  z-index: 5;
  position: relative;

  @media (max-width: 1000px) {
    padding: 0 15px;
  }

  .navbar-tab {
    height: 32px;
    display: flex;
    position: relative;
    opacity: 0;
    // animation: slideIn 0.7s ease-in-out;
    animation: fadeIn 0.7s ease-in-out;
    animation-delay: var(--slideDelay);
    animation-fill-mode: forwards;
    background-color: #395b64;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition: margin-left 0.3s ease-in-out;

    &:not(:first-child) {
      border-left: 1px solid darken(#395b64, 15);
    }

    &.active-tab {
      a, .close-tab {
        box-shadow: #E7F6F2 0 -2px 0 inset;
      }
    }
    &:not(.active-tab) {
      background-color: darken(#395b64, 10);
      a, .close-tab {
        background-color: darken(#395b64, 10);
      }
    }
    &:hover {
      transition: background-color 0.2s;
      background-color: lighten(#395b64, 5);
      &.active-tab {
        &::before {
          border-right: 10px solid lighten(#395b64, 5);
          transition: 0.2s !important;
        }
        &::after {
          border-left: 10px solid lighten(#395b64, 5);
          transition: 0.2s !important;
        }
      }
      a, .close-tab {
        transition: background-color 0.2s;
        background-color: lighten(#395b64, 5);
      }
    }
    a, .close-tab {
      text-decoration: none;
      color: white;
      display: flex;
      place-items: center;
      cursor: pointer;
      white-space: nowrap;
      background-color: #395b64;
    }
    a {
      padding-left: 15px;
      padding-right: 7px;
      padding-bottom: 5px;
    }

    @media (min-width: 1000px) {
      &.is-favourited {
        + :not(.is-favourited) {
          margin-left: 10px;
        }
      }
    }

    &.is-favourited {
      a {
        padding-left: 10px;
        padding-right: 15px;
      }

      svg {
        position: relative;
        top: 1px;
        color: orange;
        margin-right: 7px;
        width: 13px;
        height: 13px;
      }
    }
    .close-tab {
      padding-left: 7px;
      padding-right: 15px;
      padding-bottom: 5px;
      color: #e7f6f2;
      &:hover {
        color: red;
      }
    }
  }
}
