.vm-container {
  position: relative;
  text-align: center;
  overflow: visible;
  z-index: 5 !important;
  margin: 10px 0;

  // width: 100%;
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  // padding: 10px;
  // padding: 0px !important;
  // margin: 20px 0;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  // background-color: #2c3333;

  // min-height: 250px;

  &.shrink-ad {
    // min-height: 0px;
    // padding: 0px;
    margin: 0px;
    z-index: 1000 !important;
  }

  span.ad-debug {
    display: none;  
    color: red;
    font-size: 11px;
    position: absolute;
    top: -17px;
    left: 50%;
    width: 100%;
    pointer-events: none;
    transform: translateX(-50%);
  }
  // .vm-placement {
  //   transition: max-height 0.75s;
  //   max-height: 0px;
  //   &[data-google-query-id] {
  //     max-height: 300px;
  //   }
  // }
}

.ad-container {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.vm-skin-left,
.vm-skin-right {
  display: none;
}
