.other-calculations-display {
  margin: 10px;
  display: flex;
  flex-direction: column;

  .variant-selection-wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    .variant-selection {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .other-calc-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    text-align: center;
    .flex {
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  a {
    padding: 8px;
    margin: 2px;
    color: #e7f6f2;
    text-decoration: none;
    &:hover {
      background-color: rgba(black, 0.3);
      box-shadow: inset 0 0 5px 2px rgba(orange, 0.3);
    }
    &.current-selection {
      background-color: rgba(black, 0.3);
      box-shadow: inset 0 0 5px 2px rgba(black, 0.5);
      &:hover {
        box-shadow: inset 0 0 5px 2px rgba(orange, 0.3);
      }
    }
  }
}

.calc-setup-info-wrapper {
  display: flex;
  flex-wrap: wrap;
  table {
    background-color: rgba(black, 0.3);
    padding: 8px;
    margin: 8px;
    height: fit-content;
    // width: 30%;
    // width: 23%;
    width: 30%;
  }
}

.lb-chart-wrapper {
  width: 500px;
  canvas {
    width: 100% !important;
  }
}

.lb-team-display-wrapper {
  display: flex;
  gap: 10px;
}