.calculation-list {
  font-size: 14px;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: orange;
    }
  }
  tr {
    td {
      &:first-child {
        text-align: right;
      }
      &:last-child {
        color: orange;
        font-weight: 600;
        text-align: right;
      }
    }
  }
}