.block-highlight,
.profile-highlights {
  background: rgba(black, 0.3);
  box-shadow: inset 0 0 15px 15px rgba(black, 0.1); //, inset 0 0 0 1px rgba(black, 0.4);
}

.profile-highlights {
  z-index: 1;
  // max-width: 100%;
  overflow: hidden;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.custom-namecard-preview-wrapper {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 16px;
  .patreons-only {
    width: 310px;
    margin-top: 10px;
    text-align: center;
    filter: drop-shadow(0 0 5px cyan);
    a {
      color: white;
      font-weight: 600;
    }
  }
  .custom-namecard-upload {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    .custom-file-upload {
      width: 205px;
      margin-top: 2px;
      cursor: pointer;
      &:hover {
        > div {
          &:first-child {
            background-color: orange;
            color: black;
          }
        }
      }
      > div {
        user-select: none;
        white-space: nowrap;
        border-radius: 5px;
        padding: 2px;
        margin: 0 3px;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        &:first-child {
          background-color: white;
          color: #2c3333;
          margin-bottom: 2px;
        }
        &:nth-child(2) {
          font-style: italic;
        }
      }
      &[disabled],
      &:disabled {
        opacity: 0 !important;
      }
    }
    input {
      display: none;
    }
    button {
      &[disabled],
      &:disabled {
        opacity: 0.3 !important;
      }
    }
  }
}

.compact-table-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 10px;

  .perfect-scroll-wrapper {
    flex-grow: 1;
    .build-search-input {
      margin-top: 10px;
      margin-bottom: 5px;
      input {
        width: calc(100% - 45px);
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        border: none;
        padding: 7px 15px;
        outline: none;
      }
      .fake-placeholder {
        position: absolute;
        top: 0;
        left: 0;
        color: hsl(0, 0%, 50%);
        padding: 6px 15px;
        pointer-events: none;
      }
    }
  }
  .compact-table {
    // overflow-y: scroll;
    // overflow: hidden;
    max-height: 390px;
    flex-grow: 1;
    width: 100%;
    .compact-table-row {
      display: flex;
      gap: 10px;
      align-items: center;
      cursor: pointer;
      margin-right: 15px;
      padding-left: 4px;
      &.has-custom-namecard {
        box-shadow: inset 2px 0 0px 0px rgba(cyan, 0.5);
        background-color: rgba(0, 255, 255, 0.05);
        &:hover {
          box-shadow: inset 2px 0 0px 0px rgba(cyan, 0.75);
          background-color: rgba(cyan, 0.2);
        }
      }
      &.selected-build-row {
        color: orange;
        box-shadow: inset 2px 0 0px 0px cyan;
      }
      &:nth-child(2n) {
        background-color: rgba(0, 0, 0, 0.212);
        &.has-custom-namecard {
          background-color: rgba(cyan, 0.1);
          &:hover {
            background-color: rgba(cyan, 0.2);
          }
        }
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.333);
        color: orange;
      }
      .compact-table-name {
        flex-grow: 1;
      }
    }
  }
}

.profile-artifact-listing {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.artifact-filter {
  cursor: pointer;
  margin-left: 20px;
}

.profile-page-build {
  img {
    width: 95px;
  }
}

.content-block-summary {
  margin: 20px;
  position: relative;
  width: 100px;
  display: grid;
  place-items: center;
  background-image: var(--name-card-url);
  background-position: center;
  text-shadow: 0px 0px 5px #000;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &.bg-pos-top {
    background-position: top;
  }
  &.bg-pos-bottom {
    background-position: bottom;
  }

  .count {
    position: relative;
    top: -7px;
    font-size: 52px;
  }
  .title {
    font-style: italic;
    position: absolute;
    bottom: 8px;
    right: 10px;
  }
}

.build-name-input {
  border: none;
  padding: 3px 6px;
  background: darken(#2c3333, 5);
  color: orange;
  outline: none;
  width: calc(100% - 15px);
}

.bind-message-wrapper {
  display: flex;
  justify-content: center;
  .bind-message {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(#a8781f, 0.2);
    border: 2px dashed rgb(255, 217, 0);
    color: rgba(255, 217, 0, 0.9);
    padding: 15px 0px;
    width: 450px;
    margin: 0 0 20px;
    > div {
      text-align: center;
    }
    .important-text {
      font-size: 18px;
      font-family: "GenshinFont";
      color: rgb(255, 0, 0);
      background-color: rgba(black, 0.5);
      padding: 1px 5px 2px;
      border-radius: 5px;
    }
    .less-important {
      margin-top: 5px;
      font-size: 12px;
      opacity: 0.7;
      max-width: 400px;
    }
  }
}

.floating-profile-buttons-wrapper {
  position: relative;
  .floating-profile-buttons {
    width: 100%;
    position: absolute;
    bottom: -10px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: flex-end;
    .floating-button {
      cursor: pointer;
      &:hover {
        color: orange;
      }
      &.disable-btn {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }
}
