.uid-results {
  margin-top: 20px;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // gap: 20px;

  max-width: 465px * 2 + 20px;
  min-width: 100px;
  text-align: center;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(465px, 1fr));

  .uid-result {
    color: white;
    text-decoration: none;
    width: min(465px, 100%);
    overflow: hidden;

    display: inline-block;
    position: relative;
    .card-background,
    .uid-result {
      width: 100%;
    }
  }
  .uid-results-spinner-wrapper {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
