.navbar {
  color: #e7f6f2;
  display: flex;
  padding: 0 25px 0 0;
  flex-wrap: wrap;
  background-color: #395b64;
  // box-shadow: 0 3px 8px rgba(0,0,0,.24);

  @media (max-width: 1000px) {
    & {
      padding: 0;
    }
    .logo-wrapper.logo-wrapper {
      margin-left: 15px;
    }
  }

  .navbar-img {
    width: 22px;
    height: 22px;
    border-radius: 100px;
    box-shadow: rgba(black, 0.5) 0px 0px 3px 1px;
  }
  .logo-wrapper {
    position: relative;
    padding-left: 35px;
    margin-left: 25px;

    .logo {
      position: relative;
      top: 4px;
      font-family: "GenshinFont";
    }
  }
  .navbar-spacer {
    flex: 1;
  }
  .annotation {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    opacity: 0.5;
    position: absolute;
    font-size: 10px;
    top: -10px;
  }
  a {
    color: white;
    text-decoration: none;
    height: 64px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    transition: 0.2s !important;
    cursor: pointer;
    padding: 0 15px;
    white-space: nowrap;
    &:hover {
      transition: 0.2s !important;
      background-color: lighten(#395b64, 5);
    }
    svg {
      margin-top: 1px;
    }
    &.hamburger-wrapper {
      padding: 0 26px;
    }
  }
  .active-tab {
    transition: 0.2s !important;
    background-color: #426a74 !important;
    box-shadow: #e7f6f2 0 -2px 0 inset !important;
    &:hover {
      background-color: lighten(#426a74, 2) !important;
    }
  }
}

.log-in-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px 0;
  // .profile-highlights {
  //   width: max-content;
  //   padding: 25px;
  // }
  .log-in-title {
    text-align: center;
    font-size: 14px;
    opacity: 0.8;
  }
  .log-in-methods-container {
    display: flex;
    gap: 0px;
    justify-content: center;
    margin: 20px 0 10px;
    .method-wrapper {
      color: #e7f6f2;
      text-decoration: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 80px;
      background-color: transparent;
      padding: 20px;
      .method-text {
        text-align: center;
        font-weight: 600;
      }
      &:hover {
        filter: drop-shadow(0 0 15px rgba(black, 0.6));
      }
      &.patreon-wrapper {
        &:hover {
          color: #ff424d;
        }
      }
      &.discord-wrapper {
        &:hover {
          color: #5562ea;
        }
      }
    }
  }
}

.modal-spacer {
  width: calc(100% - 50px);
  height: 1px;
  background-color: #5c5c5c;
  margin: 30px auto 0;
}

.account-info {
  font-size: 16px;
  .hoverable-icon {
    cursor: pointer;
    &:hover {
      color: orange;
    }
  }
  table {
    width: 100%;
    .centered-td {
      display: flex;
      align-items: center;
      .navbar-img {
        margin-right: 8px;
      }
    }
    tr {
      height: 29px;
      td {
        &.flex {
          height: 27px;
        }
        .filter-icon {
          margin-right: 8px;
          width: 22px;
        }
      }
    }
  }
  .bound-account {
    padding: 0;
    height: auto;
    gap: 5px;
    display: flex;
    align-items: center;
    padding: 2px;
    padding-left: 0;

    .ar-badge {
      margin: 0;
    }
  }
}

@keyframes hamburgerSlide {
  0% {
    transform: translateX(100%)
  }
  100% {
    transform: translateX(0%)
  }
}

.hamburger {
  background-color: #395b64;
  height: 100%;
  width: 100%;
  max-width: 220px;
  display: flex;
  align-items: end;
  flex-direction: column;
  animation: 0.3s hamburgerSlide ease-in-out forwards;
  box-shadow: 0 0 10px rgba(black, 0.75);

  .hamburger-list {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .active-tab {
      box-shadow: #e7f6f2 2px 0 0 inset !important;
    }
    
    .is-favourited {
      svg {
        color: orange;
        margin-right: 2px;
        width: 13px;
        height: 13px;
      }
    }

    .navbar-tab:hover {
      background-color: #426a74;
      transition: .2s !important;
    }

    a {
      height: 42px;  
      justify-content: start;
      padding-left: 25px;
      overflow: hidden;
    }
    .login-auth-nav {
      a {
        svg {
          width: 20px;
        }
      }
    }
    .player-tabs-nav {
      font-size: 12px;
      a {
        height: 32px;
        &:hover {
          background-color: transparent;
        }
      }
    }
    > div:last-child {
      margin-bottom: 40px;
    }

    .navbar-spacer {
      margin: 25px 20px 15px;
      position: relative;
      width: calc(100% - 40px);
      height: 0;
      border-bottom: 1px dashed rgba(255, 255, 255, 0.25);

      &.with-label {
        position: relative;
        &::after {
          content: attr(data-label);
          position: absolute;
          top: -8px;
          text-align: center;
          background-color: #395b64;
          transform: translateX(-50%);
          left: 50%;
          padding: 0 6px;
          font-size: 10px;
          white-space: nowrap;
          color: rgba(255, 255, 255, 0.75);
        }
      }
    }
  }

  .close-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    // opacity: 0.7;
    color: white;
    padding: 26px;
    // margin: 12px;
    > svg {
      margin-bottom: 2px;
      margin-right: 2px;
    }
    &:not(.disabled):hover {
      // opacity: 1;
      color: red;
    }
  }
}
