.compact-artifact {
  // padding: 10px 20px;
  $bg-color: #1f2323;
  background-color: $bg-color;
  // margin-top: 10px;
  // overflow: hidden;
  min-width: 180px;
  flex-wrap: nowrap !important;

  .no-artifact {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 75px;
    top: 10px;
    position: relative;
    opacity: 0.33;
    height: 135px;

    + div {
      margin-right: 0 !important;
    }
  }

  .compact-artifact-icon-container {
    width: 100px;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: relative;
    // mask-image: linear-gradient(to right, black 45%, transparent 100%);
    overflow: hidden;
    .compact-artifact-icon {
      width: 180px;
      height: 180px;
    }
    .compact-artifact-crit-value {
      background-color: #000000be;
      border-radius: 6px;
      padding: 3px 5px;
      position: absolute;
      top: 3px;
      left: 3px;
      font-size: 12px;
      line-height: 14px;
      height: 14px;
    }
    .compact-artifact-main-stat {
      position: absolute;
      background-color: #000000be;
      border-radius: 7px;
      padding: 3px 4px;
      display: flex;
      gap: 5px;
      padding-right: 6px;
      z-index: 3;
      color: white;
      left: -2px;
      bottom: 1px;
      transform: scale(0.85);
      width: fit-content;
      width: max-content;
      .stat-icon {
        width: 22px;
        height: 22px;
      }
    }
  }
  .compact-artifact-subs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px;
    margin-left: 0;
    z-index: 2;
    // background-color: $bg-color;
    // box-shadow: $bg-color -10px 0px 30px 30px;
    color: white;
    // text-shadow: 0 0 0.3em rgba(0, 0, 0, 0.6), 0 0 1em rgba(0, 0, 0, 1);

    .stat-icon {
      width: 22px;
      height: 22px;
      margin-right: 2px;
    }
    .substat {
      gap: 3px;
      .roll-dots {
        text-align: end;
        position: absolute;
        transform: translateX(calc(-100% - 3px));
        // filter: drop-shadow(0px 0px 3px black);
        letter-spacing: 0px;
      }
    }
  }
}

.total-roll-list-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  .total-roll-list {
    display: flex;
    gap: 5px;
    font-family: "GenshinFont";
    font-size: 14px;
    // flex-wrap: wrap;
    .total-rolls-label {
      white-space: nowrap;
    }
    .roll-list-member {
      padding: 3px 7px;
      border-radius: 20px;
      background-color: rgba(black, 0.5);
      height: fit-content;
      cursor: pointer;
      border: 1px solid transparent;

      &.x-prefix {
        span {
          :first-child {
            &::before {
              content: "×";
            }
          }
        }
      }

      &:not(.total-roll-rv):hover {
        border: 1px solid rgba(orange, 0.5);
        &::after {
          border: 3px solid rgba(orange, 0.25);
        }
      }

      &.active-rv {
        // box-shadow: 0 0 0 1px orange, 0 0 0px 3px rgba(orange, 0.5);
        border: 1px solid orange;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: -3px;
          left: -3px;
          width: 100%;
          height: 100%;
          border-radius: 100px;
          border: 3px solid rgba(orange, 0.5);
          z-index: 1;
        }
      }
      span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        :first-child {
          color: orange;
          margin-right: 5px;
          font-size: 12px;
        }
      }
    }
    .total-roll-rv {
      cursor: default;
      display: flex;
      width: auto;
    }
  }
}

.expanded-row > .character-preview {
  width: 100%;
  display: flex;
  justify-content: space-between;
  // margin: 5px 65px 0px;
  width: 1040px;
  font-size: 13px;

  .character-owner-preview {
    display: flex;
    align-items: center;
    > span {
      margin-left: 10px;
      margin-right: 0px;
      pointer-events: none;
    }
  }

  .character-type-preview {
    gap: 5px;
    align-items: center;
    display: flex;
  }
}

.artifacts-row {
  display: flex;
  gap: 15px;
  margin: 0 10px;
}
