.faq-browser {
  // ...
  h2 {
    > span:not(:first-child) {
      &::before {
        content: "•";
        margin: 0 15px;
        color: orange;
      }
    }
  }
  .faq-input {
    text-align: center;
    position: relative;
    > input {
      padding: 5px 8px;
      width: 70%;
    }
    // > label {
    //   pointer-events: none;
    //   position: absolute;
    //   top: -30px;
    //   left: calc(15% - 8px);
    // }
  }
  .desc-formula {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 100px;
    padding: 5px 10px;
    margin: 5px;
    width: fit-content;
  }
  .faq-header-highlight-class {
    background-color: transparent;
    text-decoration: underline;
    color: orange;
  }
}
