.enka-badge {
  display: inline-block;
  white-space: nowrap;
  margin-right: 10px;
  padding: 1px 4px;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0 0 3px rgba(black, 0.5);
  width: 35px;
  text-align: center;
  font-family: "GenshinFont";

  background-color: #284368;
  border-color: #284368;
  color: #dff3ffcc;
}
