.footer {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  font-family: "GenshinFont";
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  > span {
    transition: opacity 0.3s;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    .annotation {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
      opacity: 0.5;
      position: absolute;
      font-size: 10px;
      top: 3px;
    }
  }
}
