body.ads-disabled {
  .snigel-adhesive {
    display: none !important;
    opacity: 0 !important;
    pointer-events: none !important;
  }
}

body.ad-provider-snigel {
  .flex-special-container {
    gap: 10px;
  }

  .snigel-container {
    .ad-debug {
      display: none !important;
    }

    .close-adhesive {
      border-radius: 100px;
    }

    &.video-ad-container {
      display: contents;
      .snigel-ad-unit {
        display: contents;
      }
      div[id^=google_ads_iframe_] {
        display: contents;
      }
    }
  }

  .profile-header-wrapper {
    gap: 10px;

    @media (max-width: 700px) {
      gap: 25px;
    }
  }

  .snigel-adhesive.bottom {
    pointer-events: none;
    > div {
      pointer-events: auto;
      width: fit-content;
    }
  }
}

div[id^=sp_message_container] {
  z-index: 9999;
}

// iframe[id^=sp_message_iframe] {
//   z-index: 9999;
// }
