.highlight-tile-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  padding: 5px;
  .highlight-tile {
    font-size: 13px;
    width: 75px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    &:hover {
      background-color: rgba(black, 0.3);
    }
    .highlight-tile-pill {
      padding: 2px;
      border-radius: 50px;
      font-weight: 800;
      // font-family: "GenshinFont";
    }
  }
}