.highlight-tile-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 10px;
  .highlight-tile {
    width: 75px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    &:hover {
      background-color: rgba(black, 0.3);
    }
  }
}