.genshin-user-card-wrapper {
  display: flex;
  position: relative;
  overflow: hidden;

  background: rgba(black, 0.3);
  box-shadow: inset 0 0 15px 15px rgba(black, 0.1); //, inset 0 0 0 1px rgba(black, 0.4);

  min-height: 100px;
  width: min(350px, calc(100% - 15px));
  flex-grow: 1;
  flex-shrink: 0;
  margin-left: 0;

  &.clickable-card {
    &:hover {
      background-color: rgba(black, 0.5) !important;
    }
    &:hover .card-background {
      box-shadow: inset 0 100px 0 0 rgba(black, 0.5); //, inset 0 0 0 1px rgba(black, 0.4);
    }
  }

  .fav-btn {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 2;
    padding: 5px 6px;
    filter: drop-shadow(0 0 3px black);
    color: white;
    opacity: 0.75;

    &:hover {
      color: orange;
    }

    svg {
      $size: 25px;
      width: $size;
      height: $size;
    }

    &.favourited {
      color: orange;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
    &.disabled {
      cursor: not-allowed;
      &:hover {
        color: red;
        opacity: 0.8;
      }
    }
  }
}

.genshin-user-card {
  display: flex;
  position: relative;
  overflow: hidden;

  // background: rgba(black, 0.3);
  // box-shadow: inset 0 0 15px 15px rgba(black, 0.1); //, inset 0 0 0 1px rgba(black, 0.4);
  // min-height: 100px;

  width: min(350px, calc(100% - 15px));
  flex-grow: 1;
  flex-shrink: 0;
  // margin-left: 0;

  // width: min(450px, calc(100% - 15px));
  // background-image: var(--name-card-url);
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  // margin: 20px;
  // flex-grow: 1;
  // margin: 10px;
  // box-shadow: rgb  a(0, 0, 0, 0.24) 0px 3px 8px;
  // background: #00000066;

  // @at-root .ad-provider-playwire & {
  // width: min(350px, calc(100% - 15px));
  // }

  // &.clickable-card {
  //   &:hover {
  //     background-color: rgba(black, 0.5) !important;
  //   }
  // }

  .profile-picture {
    margin: 2px;
    width: 96px;
    // height: 96px;
    height: calc(100% - 4px);
    object-fit: cover;
  }
  .default-picture {
    opacity: 0.33;
    margin: 12px;
    width: 75px;
    height: 75px;
  }
  .genshin-card-content {
    margin: 10px;
    text-shadow: 0px 0px 5px #000;
    text-align: left;
    // min-width: 200px;
    width: 100%;
    .genshin-card-top-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap-reverse;
    }
    .card-big-text {
      font-size: 25px;
      margin-bottom: 3px;
      white-space: break-spaces;
      word-break: break-all;
    }
    .card-signature {
      white-space: break-spaces;
      word-break: break-all;
    }
  }
  .badges-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    > span {
      text-shadow: none;
      margin: 0;
    }
  }
  // .float-top-right {
  //   position: absolute;
  //   top: 10px;
  //   right: 0;
  //   display: flex;
  // }
}

.card-background {
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100px;
  z-index: 0;
  width: min(465px, 100% - 35px);
  box-shadow: inset 0 0 15px 15px rgba(0, 0, 0, 0.1),
    inset 0 100px 0 0 rgba(0, 0, 0, 0.3);
}

.account-hover-wrapper {
  $card-width: 465px;
  display: flex;
  pointer-events: none;

  .genshin-user-card {
    padding-right: 0;
    width: $card-width;
  }
  .profile-picture {
    height: auto;
    display: block;
  }
  .card-background {
    width: $card-width;
    height: 100%;
  }

  &.ar-0-badge,
  &.ar-5-badge,
  &.ar-10-badge,
  &.ar-15-badge,
  &.ar-20-badge,
  &.ar-25-badge,
  &.ar-30-badge,
  &.ar-35-badge {
    background-color: rgb(128, 128, 128);
    box-shadow: 0 0 0 2px rgb(128, 128, 128);
  }
  &.ar-40-badge {
    background-color: rgb(75, 121, 71);
    box-shadow: 0 0 0 2px rgb(75, 121, 71);
  }
  &.ar-45-badge {
    background-color: rgb(31, 131, 31);
    box-shadow: 0 0 0 2px rgb(31, 131, 31);
  }
  &.ar-50-badge {
    background-color: rgb(0, 122, 122);
    box-shadow: 0 0 0 2px rgb(0, 122, 122);
  }
  &.ar-55-badge {
    background-color: rgb(128, 45, 136);
    box-shadow: 0 0 0 2px rgb(128, 45, 136);
  }
  &.ar-60-badge {
    background-color: rgb(168, 120, 31);
    box-shadow: 0 0 0 2px rgb(168, 120, 31);
  }
}
.expanded-row {
  $card-width: 530px;
  .uid-result {
    color: white;
    text-decoration: none;
    position: relative;
    display: flex;

    .card-background {
      width: $card-width;
      height: 100%;
    }

    .genshin-user-card {
      padding-right: 0;
      width: $card-width;
      .profile-picture {
        height: auto;
      }
    }
  }
}
