@font-face {
  font-family: "GenshinFont";
  src: url("./assets/fonts/enka.woff2") format("woff2");
}

html,
body {
  height: 100%;
}

body {
  background-color: darken(#2c3333, 5);
  color: #e7f6f2;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-wrapper {
  max-width: 1280px;
  margin: 10px auto 0;
  // padding: 0 10px;
}

.overflow-hidden {
  overflow: hidden;
}

.content-block {
  border-radius: 2px;
  overflow-y: hidden;
  overflow-x: auto;
  background-color: #2c3333;
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 75px;
  > div {
    padding: 10px;
  }
  // position: relative;
  // width: 100%;
}

.weak-filler-line {
  width: 80%;
  height: 0;
  opacity: 0.1;
  border-top: 2px solid white;
}

.ps__rail-x {
  &.ps--clicking,
  &:hover {
    background-color: rgba(black, 0.3) !important;
  }
}

.w-100 {
  width: 100% !important;
}

.dropdown-option-icon {
  width: 24px;
  margin-right: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

.gap-3 {
  gap: 3px;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.flex-grow {
  flex-grow: 1;
}

.opacity-5 {
  opacity: 0.5;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bottom-right-absolute {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 10px;
  text-shadow: 0 0 1px black;
}

.react-select-container {
  .react-select__input-container {
    color: #fff;
  }
  .react-select__control {
    background-color: #2c3333;
    border-color: rgba(81, 81, 81, 1);
    transition: none;

    &:hover {
      border-color: rgba(81, 81, 81, 1);
    }
  }

  .react-select__menu {
    background-color: #2c3333;
    border: 1px solid rgba(81, 81, 81, 1);
  }

  .react-select__option {
    background-color: #2c3333;

    &:hover {
      background-color: darken(#2c3333, 5);
    }
  }

  .react-select__indicator-separator {
    background-color: rgba(81, 81, 81, 1);
  }

  .react-select__placeholder,
  .react-select__single-value {
    color: #fff;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.reveal-anim {
  animation: fadeIn 2.5s ease-out;
  animation-fill-mode: forwards;
}

// @TODO: export podium to diff component
@keyframes rungRaise {
  0% {
    max-height: 0%;
  }
  100% {
    max-height: 50%;
  }
}
@keyframes rungReveal100 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rungReveal65 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.65;
  }
}

@keyframes rungReveal100-2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.back-btn {
  background: transparent;
  border: none;
  color: white;
  opacity: 0.8;
  &:hover{
    opacity: 1;
  }
}

.podium-wrapper {
  display: flex;
  justify-content: center;
  width: 350px;
  margin: 20px 0;
  // .rung-player-name {
  //   > div {
  //     z-index: 2;
  //   }
  // }
  .podium-player-icon {
    width: 45px;
    height: 45px;
    border-radius: 35px;
    margin-bottom: 5px;
    animation: rungReveal100-2 2.2s ease-in-out;
  }
  .rung-wrapper {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 220px;
    position: relative;
    padding: 0 5px;
    &:hover {
      filter: brightness(1.25)
    }
    .rung-player-name,
    .rung-geometry {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      background-position: center !important;
    }
    .rung-player-name {
      font-size: 22px;
      margin-bottom: 10px;
      max-width: 130px;
      white-space: nowrap;
      animation: rungReveal100 1.5s ease-in-out;
      font-weight: 600;
    }
    .rung-player-score {
      animation: rungReveal65 2.2s ease-in-out;
      opacity: 0.65;
      font-size: 12px;
      letter-spacing: 2px;
    }
    .rung-player-name {
      width: 100px;
    }
    .rung-geometry {
      width: 100px;
      padding-bottom: 5px;
      font-size: 25px;
      color: black;
      animation: rungRaise 1.5s ease-in-out;
      overflow: hidden;
      // border-top-left-radius: 5px;
      // border-top-right-radius: 5px;
    }
    &.gold {
      color: #f6d600;
      .rung-geometry {
        height: 50%;
        background-color: #f6d600;
      }
    }
    &.silver {
      color: #b9b9b9;
      .rung-geometry {
        height: 33%;
        background-color: #b9b9b9;
      }
    }
    &.bronze {
      color: #be782b;
      .rung-geometry {
        height: 18%;
        background-color: #be782b;
      }
    }
  }
  
}