@font-face {
  font-family: "GenshinFont";
  src: url("./assets/fonts/enka.woff2") format("woff2");
}

@font-face {
  font-family: "shicon";
  src: url("./assets/fonts/shicon.woff");
}

html,
body {
  height: 100%;
}

body {
  background-color: darken(#2c3333, 5);
  color: #e7f6f2;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // dynamically added parts of <body> that arent react app root
  // in this case itis react-select's portalled menu dropdown
  > div:not(#root) {
    z-index: 3;
  }
}

.content-wrapper {
  max-width: 1280px;
  margin: 10px auto 0;
  // padding: 0 10px;

  @at-root .ad-provider-playwire & {
    max-width: 1100px;
  }

  &.dev-indicator {
    &::after {
      content: "";
      // background-color: red;
      pointer-events: none;
      position: fixed;
      border: 5px dashed magenta;
      box-sizing: border-box;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 9999;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}

.pointer-events-none {
  pointer-events: none;
}

.search-input-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-input {
  // margin-top: 10px;
  // margin-bottom: 5px;
  width: 250px;
  input {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    padding: 7px 15px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
  }
  .fake-placeholder {
    position: absolute;
    top: 0;
    left: 1px;
    color: hsl(0, 0%, 50%);
    padding: 6px 15px;
    pointer-events: none;
    font-size: 13px;
  }
}

.content-block {
  border-radius: 2px;

  position: relative;
  // overflow: visible;
  overflow: hidden;

  background-color: #2c3333;
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 75px;

  > div {
    padding: 10px;
  }
  // position: relative;
  // width: 100%;
}

.weak-filler-line {
  width: 80%;
  height: 0;
  opacity: 0.1;
  border-top: 2px solid white;
}

.ps__rail-y,
.ps__rail-x {
  &.ps--clicking,
  &:hover {
    background-color: rgba(black, 0.3) !important;
  }
}

.w-100 {
  width: 100% !important;
}

.dropdown-option-icon {
  width: 24px;
  margin-right: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
  white-space: nowrap;
}

.white-space-nowrap {
  white-space: nowrap;
}

.flex-wrap-no-wrap {
  flex-wrap: nowrap;
}

.pointer {
  cursor: pointer;
}

.gap-3 {
  gap: 3px;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.flex-grow {
  flex-grow: 1;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-3 {
  opacity: 0.3;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bottom-right-absolute {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 10px;
  text-shadow: 0 0 1px black;
}

.react-select-container {
  .react-select__input-container {
    color: #fff;
  }
  .react-select__control {
    background-color: #2c3333;
    border-color: rgba(81, 81, 81, 1);
    transition: none;

    &:hover {
      border-color: rgba(81, 81, 81, 1);
    }
  }

  .react-select__menu {
    background-color: #2c3333;
    border: 1px solid rgba(81, 81, 81, 1);
  }

  .react-select__option {
    background-color: #2c3333;

    &:hover {
      background-color: darken(#2c3333, 5);
    }
  }

  .react-select__indicator-separator {
    background-color: rgba(81, 81, 81, 1);
  }

  .react-select__placeholder,
  .react-select__single-value {
    color: #fff;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.reveal-anim {
  animation: fadeIn 2.5s ease-out;
  animation-fill-mode: forwards;
}

.error-msg {
  text-align: center;
  margin: 150px auto;
  max-width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .error-title {
    max-width: 800px;
    font-family: "GenshinFont";
    font-size: 45px;
  }
  .error-desc {
    max-width: 750px;
    margin-top: 20px;
    font-size: 25px;
    opacity: 0.65;
  }
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.back-btn {
  background: transparent;
  border: none;
  color: white;
  opacity: 0.8;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 3px;
  &:hover {
    opacity: 1;
  }
}

.no-paddings {
  padding: 0 !important;
}

.tilted-logo {
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  transform: translate(-30px, -17px) rotate(-30deg);
  z-index: 1;
}

.logo,
.footer {
  .annotation {
    z-index: 2;
  }
}

.logo-text {
  z-index: 2;
  position: relative;
}

.text-highlight-class {
  background-color: transparent;
  text-decoration: underline;
  font-weight: 600;
  color: inherit;
}

@keyframes modalBgReveal {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(black, 0.6);
  }
}

@keyframes modalRevealMenu {
  0%,
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalReveal {
  0% {
    opacity: 0; // untransformed at the start for react-select portal
    transform: translate(0, -50px) scale(1);
  }
  1% {
    opacity: 1;
    transform: translate(var(--modal-offset-x), var(--modal-offset-y)) scale(0);
  }
  100% {
    transform: translate(0, -50px) scale(1);
  }
}

@keyframes reactSelectReveal {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes blinkingOrange {
  0% {
    color: orange;
    box-shadow: 0 0 0 2px orange;
  }
  50% {
    color: white;
    box-shadow: 0 0 0 2px transparent;
  }
  100% {
    color: orange;
    box-shadow: 0 0 0 2px orange;
  }
}

.modal-wrapper {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 0.3s modalBgReveal ease-in-out forwards;

  &.justify-flex-end {
    justify-content: flex-end;
  }

  .modal {
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    width: 600px;
    animation: 0.3s modalReveal ease-in-out forwards;
    // transform: translateY(-100px);

    .filter-select {
      z-index: 25;
      margin: 5px 0;
    }
    .add-new-filter {
      border-radius: 5px;
      height: 38px;
      border: 2px dashed rgba(white, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.6;
      cursor: pointer;
      margin-top: 5px;
      &:hover {
        opacity: 1;
      }
    }
    button {
      border: none;
      cursor: pointer;
      padding: 6px 10px 7px 9px;
      background-color: rgba(black, 0.5);
      border-radius: 2px;
      overflow: hidden;
      &.disabled,
      &:disabled,
      &[disabled] {
        pointer-events: none;
      }
      &:hover {
        background-color: rgba(black, 0.7);
      }
      &.apply-btn {
        color: #90ee90;
        &:hover {
          color: #5fdf5f;
        }
        > svg {
          width: 14px;
          height: 14px;
          margin-right: 5px;
        }
      }
      &.close-btn {
        background-color: transparent;
        // opacity: 0.7;
        color: white;
        padding-right: 12px;
        padding-left: 12px;
        > svg {
          width: 10px;
          height: 10px;
          margin-bottom: 2px;
          margin-right: 2px;
        }
        &:not(.disabled):hover {
          // opacity: 1;
          color: red;
        }
      }
      &.remove-btn {
        background-color: transparent;
        color: white;
        width: 30px;
        height: 30px;
        margin-left: -5px;
        margin-top: -1px;
        &:not(.disabled):not(:disabled):not([disabled]):hover {
          color: red;
        }
      }
      &.regular-btn {
        background-color: transparent;
        color: white;
        width: 30px;
        height: 30px;
        margin-left: -5px;
        margin-top: -1px;
        &:not(.disabled):hover {
          color: orange;
        }
      }
      &.blinking {
        animation: blinkingOrange 1s ease-in-out infinite;
        box-shadow: 0 0 0 2px orange;
        &:hover {
          animation: none;
        }
      }
    }

    .modal-header {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      display: flex;
      justify-content: space-between;
      background-color: #40839b;
      .modal-title {
        font-size: 16px;
        padding: 9px 9px 11px 11px;
      }
    }
    .modal-content {
      min-height: 250px;
      max-height: calc(100dvh - 300px);
      overflow: auto;
      padding: 10px;
      background-color: #2c3333;
      font-size: 13px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      .flex {
        align-items: center;
      }
      .modal-buttons {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        gap: 10px;
      }
    }
  }
}

.CookieConsent {
  background-color: #395b64 !important;
  #rcc-confirm-button {
    background-color: orange !important;
  }
}

@keyframes filterGlowRed {
  0% {
    opacity: 0.8;
    filter: drop-shadow(0 0 5px transparent);
  }
  50% {
    opacity: 1;
    filter: drop-shadow(0 0 5px red);
  }
  100% {
    opacity: 0.8;
    filter: drop-shadow(0 0 5px transparent);
  }
}
