body.ads-disabled {
  #sidebar_lhs,
  #sidebar_rhs,
  .publift-widget-sticky_footer-container-background,
  .publift-widget-sticky_footer-button,
  .publift-widget-sticky_footer,
  .publift-container,
  .publift-ad-unit {
    display: none !important;
    opacity: 0 !important;
    pointer-events: none !important;
  }
}

body.ad-provider-publift {
  &:not(.ads-disabled) {
    .navbar-tabs ~ .flex-special-container {
      margin-top: 25px !important;
    }
    @media (max-width: 800px) {
      #root > .flex-special-container {
        min-height: 130px;
      }
    }
  }

  // only the flex-special-container on top of the page
  .navbar-tabs ~ .flex-special-container {
    transition: 0.25s;
    transition-delay: 0.5s;
    align-items: center;
  }

  #sidebar_lhs,
  #sidebar_rhs {
    position: fixed;
    top: 200px;
    display: block;
    overflow: visible;
    // left: 50%;
    transition: 0.1s ease-in-out;
  }

  .flex-special-container {
    gap: 10px;
  }

  .profile-header-wrapper {
    gap: 10px;
    row-gap: 25px;
  }

  .publift-container {
    .ad-debug {
      display: none !important;
    }

    &.video-ad-container {
      display: contents;

      .publift-ad-unit {
        display: contents;
      }
    }
  }
  .publift-widget-sticky_footer-container {
    pointer-events: none;
    overflow: visible;
    z-index: 5 !important;
    width: auto !important;
    height: auto !important; // test this
    left: 50% !important;
    translate: -50% !important;
    display: flex !important;
    justify-content: center !important;
    // flex-direction: row-reverse !important;

    flex-direction: column !important;
    align-items: flex-end !important;
    gap: 2px !important;

    &.closed.closed.closed {
      overflow: hidden !important;
      display: none !important;
    }

    .publift-widget-sticky_footer-container-background {
      // default has white background
      background: transparent;
      pointer-events: none;

      height: 0 !important;
      width: 0 !important;
    }
    .publift-widget-sticky_footer-button {
      cursor: pointer;
      pointer-events: all;
      border-radius: 100px !important;
      height: 30px !important;
      width: 30px !important;
      display: flex !important;
      position: revert !important;
      border: 1px solid #202525 !important;

      &:hover {
        background-color: #ccc;
      }

      > div {
        position: relative;
        top: -3px;

        &:first-child {
          transform: rotate(45deg) translateX(4px) !important;
        }
        &:last-child {
          transform: rotate(-45deg) translateX(-4px) !important;
        }
      }
    }
    .publift-widget-sticky_footer {
      // actual ad
      pointer-events: none;
      height: fit-content !important;
      width: fit-content !important;

      > * {
        pointer-events: all;
      }

      .fuse-slot {
        display: contents;
        > div {
          display: contents;
        }
      }
    }
  }
}
